<div class="landing-phrase">
  <h5>
    Read, connect, discuss: book club made easy
  </h5>
  <div class="join-club">
    <h6><%= link_to 'Join the reading fun!', new_user_session_path %></h6>
  </div>
</div>
